.container{
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.904),rgba(247, 233, 237, 0.752)), url(./img/background.png);
    background-size: auto;
    background-position: top left;
    padding: 8px 8%;
}

/* Fonts ----------------------------------------------------------------------------------------------*/ 
@font-face {
    font-family: 'Regio Mono Regular';
    src: 
        url('./font/RegioMono-Regular.otf') format('otf'); 
    font-weight: 50;
    font-style: normal;

    font-family: 'Regio Mono Bold';
    src: 
        url('./font/RegioMono-Bold.otf') format('otf'); 
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: Regio Mono;
    margin: 0;
    padding: 0;
}

/* Navigation ----------------------------------------------------------------------------------------------*/ 
.logo{
    width: 40px;
    margin: 8px;
}

nav{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: inline-block;
    text-align: left;
    padding-left: 16px;
}

nav ul li {
    display: inline-block;
    margin: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(226, 89, 133);
   
    font-size: 16px;
    font-weight: medium;
    border-bottom: 2px solid transparent;
    transition: .4s ease;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a.focus {
    border-bottom: 2px solid rgb(226, 89, 133);
}
nav ul li.active a{
    border-bottom: 2px solid rgb(226, 89, 133);
}

nav ul li.btn a{
    background: #ffffff00;
    white-space: nowrap;
    padding: 10px 30px;
    border: 2px solid rgb(226, 89, 133);
    border-radius: 24px;
    color: rgb(226, 89, 133)f;
    font-family: 'Regio Mono', monospace;
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
    margin-right: 0px;
    cursor: pointer;
}

nav ul li.btn:hover a {
    border: 2px solid rgb(226, 89, 133);
    background-color: rgb(226, 89, 133);
    color: #fff;
    transition: all 0.3s ease;
}

/* Search ----------------------------------------------------------------------------------------------*/ 
.search-bar {
    background: rgba(226, 89, 132, 0.141);
    display: flex;
    border-radius: 60px;   
    padding: 8px 8px; 
    margin-top: 16px;
}

.search-bar input {
    font-family: Regio Mono;
    font-size: medium;
    flex: 1;
    border: 0;
    border-radius: 60px;
    outline: none;
    padding: 8px 16px;
    font-size: 16px;
    color: rgb(226, 89, 133);
}

::placeholder {
    color: #bbbaba;
    font-family: Regio Mono;
    font-size: medium;
}

.search-bar button svg {
    width: 24px;
    transition: opacity 0.3s ease;
}

.search-bar button:hover .white-icon {
    display: block; /* Show the white icon on hover */
}

.search-bar button {
    margin-left: 8px;
    border: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background:#fff;
    cursor: pointer;
}

.search-bar button:hover {
    background: rgb(226, 89, 133);
    transition: all 0.3s ease;
}

/* Hero ----------------------------------------------------------------------------------------------*/ 
.content {
    margin-top: 14%;
    color: rgb(208, 79, 120);
    max-width: 620px;
}

.content h1 {
    font-size: 70px;
    font-weight: 400;
    line-height: 85px;
    margin-bottom: 32px;
}

.content h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
}

.content ramen-hero {
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 0;
    right: 0;
    text-align: right;
}

.ramen-hero img {
    width: 50%;
    height: 50%;
}

.content burger-hero {
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 0;
    right: 0;
    text-align: right;
}

.burger-hero img {
    width: 50%;
    height: 50%;
}

/* Recipe Card ----------------------------------------------------------------------------------------------*/ 
.popular h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    color:rgb(208, 79, 120);
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: scroll;
    margin-bottom: 40px;
}

.card-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.recipe-link {
    text-decoration: none;
    color: inherit;
}

.recipe-card {
    display: block;
    text-decoration: none;
    color: inherit;
    flex-direction: column;
    width: 290px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: transparent;
    padding-right: 16px;
    border-radius: 16px;
}

.recipe-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: 1s ease;
}

.recipe-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    transition: 1s ease;
}

.recipe-card img:hover {
    border-radius: 16px;
    transform: scale(1.15);
    transition: 1s ease;
}

.recipe-title {
    font-family: regio mono;
    font-weight: 600;
    font-size: 28px;
    margin: 0 0 8px;
    color: rgb(208, 79, 120);
}

.recipe-details {
    padding: 16px;
}

.recipe-duration {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
}

.recipe-tags {
    margin-bottom: 16px;
}

.tag {
    display: inline-block;
    background: #ffffff83;
    border: 1px solid rgb(208, 79, 120);
    color: rgb(208, 79, 120);
    font-family: regio mono;
    font-size: 14px;
    padding: 8px 16px;
    margin: 0 8px 8px 0;
    border-radius: 24px;
}

.image-container {
    border-radius: 16px;
    position: relative; /* Enables positioning within this container */
    width: 290px; /* Example width for the container */
    height: 400px; /* Example height for the container */
    overflow: hidden; /* Ensures content stays inside the boundaries */
}

.image-container:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: 1s ease;
}

.image-container img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Keeps the image aspect ratio intact */
}

.favorite-btn {
    position: absolute; /* Positions the button relative to the container */
    top: 8px; /* Distance from the top */
    right: 8px; /* Distance from the right */
    background: #ffffff;
    color: rgb(208, 79, 120);
    border: none;
    border-radius: 50%; 
    width: 50px; 
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.favorite-btn:hover {
    background: rgb(208, 79, 120);
    color: #ffffff;
}

/* Footer ----------------------------------------------------------------------------------------------*/ 
.footer {
    background-color:rgba(208, 79, 120, 0); 
    text-align: center; 
    padding: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px; 
    border-top: 1px solid rgba(208, 79, 120, 0.238);
}

.footer-content a {
    margin: 0 40px;
    text-decoration: none;
    color: #666; 
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: rgb(208, 79, 120); 
}

.footer-content span {
    display: block; 
    margin-top: 64px; 
    margin-bottom: 40px;
    color: #a0a0a0;
}
/* Recipe Page ----------------------------------------------------------------------------------------------*/
.recipes-header {
    border-radius: 24px;
    text-align: center;
    padding: 20px;
    margin-top: 24px;
    margin-bottom: 40px;
}
.recipes-header h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(208, 79, 120);
    margin: 0;
}
.recipes-header h2 {
    font-size: 24px;
    font-weight: 500;
    color: rgb(208, 79, 120);
    margin: 10px 0 0;
}

.recipe-rows {
    display: flex;
    flex-direction: column; 
    gap: 24px; 
}

.recipe-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    gap: 8px;
}

/* Beef Wellington Page ----------------------------------------------------------------------------------------------*/
.recipe-image-container {
    width: 500px;
    height: 600px;
    padding: auto;
    margin: 56px 40px;
}

.recipe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
